body{
    margin: 0;
   
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-around;
}

.logo{
    margin: 10px 0 10px 10px;
    width: 80px;
    
}

.header__nombreLogo{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color:white;
    text-decoration: none;
    margin-left: 25px;
   
    
}

.links{
    margin-right: 25px;
    text-decoration-line: none;
    font-family: Nunito Sans;
    font-style: normal;
    color:white;

}

.header__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform .5s;
}

.header__global{
    margin-right: 35px;
   
}

.header__global .links{
    position: relative;
    padding: 5px 0px;
    
}

.header__global .links::before{
    content: "";
    display: block;
    background: #f5db2f;
    height: 1px;
    width: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
}

.header__global .links:hover::before{
    width: 100%;
}



.button{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: black;
    background-color: #f5db2f;
    border-radius: 8px;
    padding: 10px 15px;
    border-style: none;
    text-decoration: none;
    transition: transform .2s ease;
    cursor: pointer;
   
}

.banner{
  
    background-image: url("Imagenes/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}

.banner__principal{
    display: flex;
    justify-content: center;
    z-index: 3;
    height: 80vh;;
    
  
}

.banner__autor{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    color: white;
    margin-top: -50px;  
}

.bannerComplete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.banner__sandwichs{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: white;
    margin-top: -10px;

}

.banner__slogan{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 200;
    color: white;
    margin-top: -10px;
    font-size: 30px;
    
}

.button--cta{
    margin-top: 20px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    color: black;
    background-color: #f5db2f;

}

.header__left:hover{
    transform: translate(20px, 0px);
    transition: transform .5s ease;
}

.button:hover{
    transform: scale(0.8,0.8);
    transition: transform .2s ease;
}

.links:hover{
    color: #f5db2f;
}


.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    
    
}

.features__right{
   width: 35%;
   height: 35%;
   transition: transform .2s ease;
}

.features__right:hover{
    transform: translate(10px, 0);
    transition: transform .2s ease;
}

.features__title{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 65px;
}

.features__list{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    line-height: 350%;
    background: url("/Imagenes/check.png") no-repeat left center;
    padding-left: 2em;
    
}

.drink{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.drink__banner{

  width: 100%;
}

.drinks{
    position: absolute;
    font-family: Nunito Sans;
    font-weight: 900;
    text-decoration: underline;
    color: white;
    font-size: 2em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    cursor: pointer;
   

}

.ingredients{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top{
    display: flex;
    flex-direction: row;
    

}

.top__absolute{
    position:absolute;
    font-size: 2.5em;
    color: white;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    line-height: 65px;
}


.ingredients__back{
    width: 50%;
}

.ingredients__back--complete{
    width: 100%;
}

@media screen and (max-width:800px){
    .banner__sandwichs{
        text-align: center;
    }
    .features{
        flex-wrap: wrap;
        
    }
    .features__title{
        font-size: 2.5em;
        text-align: center;
    }

    .features__list{
        text-align: center;
    }
}




