body{
    margin: 0;
   
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-around;
    
  
}

.logo{
    margin: 10px 0 10px 10px;
    width: 80px;
    
}

.header__nombreLogo{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color:white;
   
    
}

a{
    margin-right: 25px;
    text-decoration-line: none;
    font-family: Nunito Sans;
    font-style: normal;
    color:white;

}

.header__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform .5s;
}

.global{
    margin-right: 35px;
}

.button{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: white;
    background-color: #5BC071;
    border-radius: 8px;
    padding: 10px 15px;
    border-style: none;
}

.banner{
  
    background-image: url("Imagenes/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__principal{
    height: 545px;
    display: flex;
    justify-content: center;
  
}

.banner__autor{
    font-family: Nunito Sans;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    color: white;
}

.bannerCompleto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.banner__sandwichs{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: white;
   margin-top: -10px;

}

.banner__slogan{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 200;
    color: white;
    
}

.button--cta{
    margin-top: 20px;
    width: 350px;
    height: 50px;
}

.header__left:hover{
    transform: translate(20px, 0px);
    transition: transform .5s ease;
}

.links:hover{
    color: yellow;
}


